.btns {
  color: #d6d3d1;
  padding: 0.75em 1em;
  text-decoration: none;
  // border: 1px solid #d09e72;
  border-radius: 4px;
  background-color: #292524;
  // font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  font-size: 1rem;
  outline: none;
  &:hover {
    color: #d09e72;
  }
  &:focus {
    background-color: #d09e72;
    color: #000000;
    outline: 2px solid;
    outline-color: #e8cdb5;
    outline-offset: 3px;
  }
}
