nav {
  .wrapper {
    // width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // padding: 0 4rem;
    transition: 0.3s ease-in-out;
    position: relative;
    .brand {
      a {
        // color: ;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 3rem;
        width: 3rem;
        margin: 1.5rem 0;
        cursor: pointer;
        transition: 0.3s ease-in-out;
        // border-radius: 9999px;
        outline: 2px solid transparent;
        // cursor: pointer;
        // fill: none;
        &:focus {
          outline-color: #e8cdb5;
          outline-offset: 1px;
          // border-radius: 0.5rem;
        }
      }
    }
    .nav-items {
      display: flex;
      gap: 3rem;
      // color: ;
      // font-family: ;
      // font-weight: ;
      // font-size: ;
      &-list {
        display: flex;
        list-style-type: none;
        gap: 2.5rem;
        &-item {
          a {
            color: #d6d3d1;
            font-family: "ABCFavorit-Regular";
            outline: 2px solid transparent;
            transition: 0.3s ease-in-out;
            color: inherit;
            text-decoration: none;
            padding: 10px;
            border-radius: 0.5rem;
            display: flex;
            align-items: center;
            flex-direction: row;
            &::before {
              // counter-increment: ;
            }
            &:focus {
              outline-color: #e8cdb5;
              outline-offset: 1px;
              border-radius: 0.5rem;
            }
          }
        }
      }
    }
  }
  .blur-nav {
    gap: 20rem;
    height: 80px;
    position: fixed;
    top: 0;
    transition: 0.3s ease-in-out;
    z-index: 100;
    // background-color: #1c1917;
    // box-shadow: 0 10px 30px -10px var(--navy-shadow);
    backdrop-filter: blur(10px);
  }
}
