@tailwind base;
@tailwind components;
@tailwind utilities;

/* ABC Favorit Mono  */
@font-face {
  font-family: "ABCFavoritMono-Book";
  src: url("/fonts/ABCFavoritMono-Book.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ABCFavoritMono-Bold";
  src: url("/fonts/ABCFavoritMono-Bold.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

/* MTNBrighterSans */

@font-face {
  font-family: "MTNBrighterSans-Regular";
  src: url("/fonts/MTNBrighterSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MTNBrighterSans-Bold";
  src: url("/fonts/MTNBrighterSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* ABC Favorit  */
@font-face {
  font-family: "ABCFavorit-Regular";
  src: url("/fonts/ABCFavorit-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "ABCFavorit-Bold";
  src: url("/fonts/ABCFavorit-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --tsm: 13px;
  --tsm1: 14px;
  --tsm2: 15px;
  --tbase: 16px;
  --tlarge: 18px;
  --tlarge2: 22px;
  --txlarge: 25px;
  --tx2large: 32px;
  --tgiant: clamp(40px, 8vw, 80px);
  @media screen and (max-width: 480px) {
    --tx2large: 25px;
    --tgiant: 40px;
  }
}

body {
  background-color: #1c1917;
  font-family: "ABCFavorit-Regular";
  font-weight: 400;
  color: #d6d3d1;
  line-height: 1.5;
}

html,
body {
  scroll-behavior: smooth !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4 {
  font-family: "MTNBrighterSans-Regular";
}

.link--current {
  background: #292524;
  box-shadow: inset 0 2px 0 0 rgb(255 255 255 / 5%);
}

.nav-icon {
  width: 1em;
  height: 1em;
  display: inline-block;
  line-height: 1em;
  flex-shrink: 0;
  color: #d09e72;
  font-size: 1.125rem;
}

.nav-text {
  margin-top: 0px;
  margin-inline-end: 0px;
  margin-bottom: 0px;
  margin-inline-start: 0.5rem;
}
.nav-text:hover {
  color: #d09e72;
}

.link {
  color: #d09e72;
}

//////////////  Btn ////////////
.css-e03evr > :not(style) ~ :not(style) {
  margin-inline-start: 0.5rem;
  margin-top: 0px;
}

.css-16e2737 {
  display: inline;
  appearance: none;
  align-items: center;
  justify-content: center;
  transition: all 250ms ease 0s;
  user-select: none;
  position: relative;
  white-space: nowrap;
  vertical-align: middle;
  outline: none;
  width: auto;
  line-height: inherit;
  border-radius: 0.375rem;
  font-weight: 600;
  height: unset;
  min-width: unset;
  font-size: 1rem;
  background: none;
  color: inherit;
  margin: 0px 0px 8px 0.1rem;
  padding: 0px;
}

.css-11ynch8 {
  width: 1.25rem;
  height: 1.25rem;
  display: inline-block;
  line-height: 1em;
  flex-shrink: 0;
  color: #d6d3d1;
  vertical-align: middle;
}
